@import "@/shared/ui/scss/colors.scss";

.wrapper {
	.form {
		position: relative;
		display: grid;
		justify-content: flex-start;
		flex-direction: column;

		margin-top: 192px;
		margin-left: 210px;
		height: 299px;
		width: 256px;
		margin-bottom: 16px;
		.header {
			@apply text-5xl text-['$main'];
			margin-bottom: 32px;
			width: 297px;
			height: 63px;
		}

		.textField {
			display: grid;
		}
	}
}
