@import "@/shared/ui/scss/index";

.comment {
  background: $black-01;
  border-radius: 8px;
  border: solid 1px $white-01;
  padding: 16px;
  margin-top: 16px;

  > div {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    >:last-child {
      margin-left: 8px;
      color: $accent-primary;
    }
  }
}