.row {
    display: flex;
    b {
        margin: 24px;
        font-size: 32px;
    }
    p {
        margin: 24px;
        color: #e4e4e4;
    }
}

.courseTitle {
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-top: 63px;
    b {
        padding-top: 24px;
        font-size: 48px;
        margin-left: 24px;
        margin-bottom: 36px;
    }
}

.courseDescription {
    width: 50%;
    display: inline-block;
    background-color: #2e3233;
    border-color: #414546;
    border-width: 1px;
    border-radius: 8px;
    margin-top: 32px;
    b {
        margin: 24px;
        font-size: 32px;
    }
    p {
        margin: 24px;
        color: #e4e4e4;
    }
}

.info{
    margin-left: 48px;
    flex: 30%;
    b {
        margin: 24px;
        font-size: 32px;
    }
    p {
        margin: 24px;
        color: #e4e4e4;
    }
}

.h1 {
    size: 50px;
}