@import "../../scss/colors.scss";

.root {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	>* {
		width: 256px;
		margin-bottom: 16px;
	}
	> h1, a {
		padding: 0 16px 0 16px;
	}
}

.error {
	padding: 0 16px 0 16px;
	color: $accent-destructive;
}