@import "../../../scss/index";
@import "../../../scss/colors";

%button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;

  height: 36px;
  padding: 10px 24px 10px 24px;
  border-radius: 8px;

  svg, img {
    width: 18px;
    height: 18px;
  }

  label {
    pointer-events: none;
    cursor: pointer;
  }

  transition: all 0.1s ease-in-out;

  >:not(:last-child) {
    margin-right: 8px;
  }

  &:disabled {
    opacity: 50%;
    &, label {
      cursor: default;
    }
  }
}



.accent-button {
  @extend %button;

  background: $accent-secondary;
  border: solid 1px $black-01;

  svg, label {
    color: $on-secondary;
  }

  &:enabled:hover {
    background: $accent-secondary;
    border-color: $black-02;
  }

  &:enabled:active {
    background: $accent-secondary;
    border-color: $black-02;
  }
}




.destructive-button {
  @extend .accent-button;

  background: $accent-destructive;

  svg, label {
    color: $on-destructive;
  }

  &:enabled:hover {
    background: $accent-destructive;
  }

  &:enabled:active {
    background: $accent-destructive;
  }
}



.outlined-button {
  @extend %button;

  border: solid 1px $white-01;

  svg, label {
    color: $p-regular;
  }

  &:enabled:hover {
    background: $white-01;
    border-color: $white-03;
  }

  &:enabled:active {
    background: $black-01;
    border-color: $white-01;
  }
}