.menu {
    border-radius: 8px;
    background-color: #393e3f;
    width: 256px;
    box-shadow: inset 0px -2px 0px #292d2e;
    border: 1px solid rgb(75, 80, 82);
}

.menuItem {
    width: 100%;
    height: 36px;
    padding-left: 24px;
    gap: 16px;
    display: flex;
    align-items: center;
    font-size: 9px;
    color: #e4e4e4;
    white-space: nowrap;
    img {
        height: 18px;
    }
}
