@import "colors";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
	font-family: 'NT-Somic';
	src: url('../NT-Somic-VF.ttf') format('truetype');
}

@mixin nt-somic {
	font-family: 'NT-Somic', sans-serif;
	font-feature-settings: "salt";
}

@mixin jetbrains-mono {
	font-family: 'JetBrains Mono', sans-serif;
}

@mixin inter {
	font-family: 'Inter', sans-serif;
}

@mixin h1-font {
	@include nt-somic;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.25;
}

@mixin h2-font {
	@include nt-somic;
	font-weight: 500;
	font-size: 32px;
}

@mixin h3-font {
	@include nt-somic;
	font-weight: 500;
	font-size: 20px;
}

@mixin h4-font {
	@include nt-somic;
	font-weight: 500;
	font-size: 16px;
}

@mixin h5-font {
	@include nt-somic;
	font-weight: normal;
	font-size: 14px;
}

@mixin h6-font {
	@include nt-somic;
	font-weight: normal;
	font-size: 13px;
}

@mixin control-font {
	@include nt-somic;
	font-size: 13px;
	line-height: 1.26; // чзх
}

@mixin code-font {
	@include jetbrains-mono;
	font-weight: 400;
	font-size: 13px;
}

@mixin p-font {
	@include inter;
	font-size: 13px;
	line-height: 1.5;
}

@mixin p-small-font {
	@include inter;
	font-size: 10px;
}