@import "../../scss/index.scss";

.list {
  display: grid;

  h3 {
    @include h3-font;
    color: $accent-primary;
    margin: 16px 24px 16px 24px;
    transition: all 0.1s ease-in-out;
  }

  &:has(> label > input:checked) text {
    color: $accent-secondary;
  }
}