.wrapper {
    .form {
        position: center;
        margin-top: 192px;
        margin-left: 43%;
    }

    label {
        margin-bottom: 16px;
    }

    button {
        padding: 13.5px 24px 13.5px 24px;
    }
}

.profileImg {
    display: flex;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-bottom: 16px;
    margin-left: 64px;
}