.wrapper {
    .form {
        position: center;
        margin-top: 192px;
        margin-left: 43%;
    }
}

img {
    display: flex;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin-bottom: 16px;
    margin-left: 64px;
}