.wrapper {
    width: 25%;
    padding-top: 2%;
    flex-wrap: wrap;
    padding-left: 20px;

    .wrapperCourse {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 30px;
    }
}