.wrapper {
    display: flex;
    justify-content: center;
    padding-left: 208px;
    padding-right: 208px;

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        grid-template-columns: 480px repeat(auto-fit, 2fr);
    }
}