@import "../../scss/colors.scss";
@import "../../scss/elements.scss";

.wrapper {
	> img {
		display: flex;
		width: 371px;
		height: 250px;
	}
	.form {
		position: relative;
		display: grid;
		justify-content: flex-start;
		flex-direction: column;

		margin-top: 192px;
		margin-left: 210px;
		height: 299px;
		width: 256px;
		margin-bottom: 16px;
		.header {
			@apply text-5xl text-['$main'];
			margin-bottom: 32px;
			width: 297px;
			height: 63px;
		}

		.textField {
			display: grid;

			> label {
				margin-bottom: 16px;
			}

			.info {
				margin-bottom: 16px;
				font-size: 11px;
			}
		}
	}
}
