@import "../../scss/colors.scss";

.tableWrapper {
  
  .table {
    display: block;
    margin-right: auto;
    padding-left: 25px;
  }

  .panel {
    margin-left: 24px;
    width: 256px;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
