.wrapper {
    display: flex;
 
    .teacherTasksHeader {
 
        h2 {
            margin-left: 24px;
            margin-bottom: 48px;
        }
 
        .teacherTasks {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 32px;
            flex-wrap: wrap;
            grid-template-columns: 480px repeat(auto-fit, 2fr);
        }
    }
}