@import "@/shared/ui/scss/index";

.question-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  svg {
    width: 18px;
    height: 18px;
    color: $accent-primary;
    margin-right: 16px;
  }
}