@import '../../../scss/index';

.text-area {
  display: flex;
  height: 128px;
  position: relative;

  div {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;

    p {
      @include p-font;
      color: $p-secondary;
      user-select: none;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    margin-left: 16px;
    color: $p-secondary;
  }

  textarea {
    @include p-font;
    display: flex;
    width: 100%;

    padding: 8px 16px 8px 16px;
    height: 128px;

    appearance: none;
    background: transparent;
    border: solid 1px $white-01;
    border-radius: 8px;
    color: $p-regular;
    transition: all 0.1s ease-in-out;

    &::placeholder {
      @include control-font;
      user-select: none;
      color: $p-secondary;
    }

    &:hover {
      border-color: $white-02;
      background-color: $white-01;
    }

    &:active {
      border-color: $white-02;
      background-color: $black-01;
    }

    &:focus {
      border-color: $accent-primary;
    }
  }
}