@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .radium-scrollbar::-webkit-scrollbar {
        opacity: "0%";
        width: 4px;
    }

    .radium-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(78, 81, 81);
    }
    
    .font-mono {
        font-family: var(--font-nt-somic);
        font-feature-settings: 'salt' on;
    }
}