@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --text-p: #E6E6E6; 
  --accent-primary-regular: #BFD5FF;
  --outline-general: rgba(255, 255, 255, 0.1);
  --white-light: rgba(255, 255, 255, 0.05);
  --text-control: 13px "NT Somic", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 195 6% 14%;
    --foreground: 0 0% 90%;
 
    --card: 192 5% 19%;
    --card-hover: 192 4% 22%;
    --card-foreground: 0 0% 90%;
 
    --popover: 197 6% 24%;
    --popover-foreground: 0 0% 90%;
 
    --primary: 219 100% 87%;
    --primary-foreground: 192 5% 19%;
 
    /* unset */
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    /* unset */
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 120 58% 88%;
    --accent-hover: 120 59% 90%;
    --accent-foreground: 120 8% 23%;
 
    --destructive: 0 79% 76%;
    --destructive-hover: 0 80% 81%;
    --destructive-foreground: 0 25% 20%;
 
    /* unset */
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    
     /* NEW */

     /* Background */
     --background-header: 195 6% 12%;
     --background-page: 200 5% 14%;
     --background-card: 195 6% 19%;
     --background-overlay: 197 6% 24%;

    /* Text */
    --text-primary: 0 0% 90%;
    --text-secondary: 0 0% 70%;
    --text-keyword: 150 70% 68%;
    --text-method: 120 70% 68%;
    --text-type: 30 70% 68%;
    --text-marco: 300 70% 68%;

    /* Outline */
    --outline-general: 0 0% 100% / 10%;

    /* Accent */
    --accent-primary-regular: 220 100% 88%;
    --accent-primary-disabled: 219 14% 51%;
    --accent-primary-hovered: 219 100% 89%;
    --accent-primary-pressed: 219 54% 79%;
    --accent-primary-foreground: 200 14% 22%;

    --accent-secondary-regular: 120 58% 88%;
    --accent-secondary-disabled: 126 8% 51%;
    --accent-secondary-hovered: 120 59% 90%;
    --accent-secondary-pressed: 120 31% 79%;
    --accent-secondary-foreground: 120 8% 23%;

    --accent-destructive-regular: 0 79% 76%;
    --accent-destructive-disabled: 359 21% 45%;
    --accent-destructive-hovered: 0 80% 81%;
    --accent-destructive-pressed: 0 54% 68%;
    --accent-destructive-foreground: 0 25% 20%;

    --white-light: 0 0% 100% / 5%;
    --white-medium: 0 0% 100% / 10%;
    --white-hard: 0 0% 100% / 20%;
    --white-heavy: 0 0% 100% / 40%;

    --black-light: 0 0% 0% / 5%;
    --black-medium: 0 0% 0% / 10%;
    --black-hard: 0 0% 0% / 20%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-backgroundPage text-foreground text-base font-sans;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-1 opacity-50 h-1;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded bg-transparent transition-colors;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-card;
  }
}