.emptyPage {
    width: 384px;
    height: 384px;
    text-align: center;
    margin: auto;

    img {
        margin: auto;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 13px;
        color: #e4e4e4;
    }
}