@import "../../scss/index.scss";

.checkbox {
  @include p-font;

  display: flex;
  margin: 0 24px 0 24px;
  height: 36px;
  align-items: center;

  input {
    width: 18px;
    height: 18px;
    appearance: none;
    margin-right: 16px;

    border: solid 1px $white-04;
    border-radius: 4px;
    transition: all 0.1s ease-in-out;
  }

  input:disabled {
    opacity: 0.5;
  }

  input:enabled:hover {
    background: $white-01;
  }

  input:enabled:active {
    background: $black-01;
  }

  input:checked {
    background: url("../../images/checkmark.svg") no-repeat center, $accent-primary;
    border-color: $black-01;
  }

  input:enabled:checked:hover {
    background: url("../../images/checkmark.svg") no-repeat center, $accent-primary + white * 0.1;
    border-color: $black-02;
  }

  input:enabled:checked:active {
    background: url("../../images/checkmark.svg") no-repeat center, $accent-primary - white * 0.1;
    border-color: $black-02;
  }
}

