.checkbox {
    margin-bottom: 0.2em;
}

/* для элемента input c type="checkbox" */
.customCheckbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.customCheckbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.customCheckbox>span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 16px;
    //margin-right: 0.5em;
    border: 1px solid rgb(121, 123, 124);
    border-radius: 4px;
}

/* стили при наведении курсора на checkbox */
.customCheckbox>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #878888;
    background-color: #383a3b;
}

/* стили для активного чекбокса (при нажатии на него) */
.customCheckbox>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #abbee4;
}

/* стили для чекбокса, находящегося в фокусе */
.customCheckbox>input:focus+span::before {
    //box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
//.customCheckbox>input:focus:not(:checked)+span::before {
//    border-color: #80bdff;
//}

/* стили для чекбокса, находящегося в состоянии checked */
.customCheckbox>input:checked+span::before {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #80bdff;
    background-image: url("../../images/checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.customCheckbox>input:disabled+span::before {
    background-color: #222526;
}
