@import "@/shared/ui/scss/index.scss";

.switch {
  @include control-font;

  display: flex;
  margin: 0 24px 0 24px;
  height: 36px;
  align-items: center;
  color: $p-regular;

  input {
    width: 32px;
    height: 18px;
    appearance: none;
    margin-left: auto;

    border: solid 1px $white-04;
    border-radius: 9px;
    transition: all 0.1s ease-in-out;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 16px;
      bottom: 0;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: $white-02;
      transition: all 0.15s ease-out;
    }
  }

  input:disabled {
    opacity: 0.5;
  }

  input:enabled:hover {
    background: $white-01;
    &:before {
      width: 12px;
      height: 12px;
    }
  }

  input:enabled:active {
    background: $black-01;
    &:before {
      width: 8px;
      height: 8px;
    }
  }

  input:checked {
    border-color: $accent-primary;
    &:before {
      left: 16px;
      right: 0;
      width: 12px;
      height: 12px;
      background: $accent-primary;
    }
  }

  input:enabled:checked:hover {
    border-color: $accent-primary + white * 0.1;
    &:before {
      width: 14px;
      height: 14px;
    }
  }

  input:enabled:checked:active {
    border-color: $accent-primary - white * 0.1;
    &:before {
      width: 10px;
      height: 10px;
    }
  }
}

