@import "../../scss/colors.scss";

.statementTable {
    color: $p-regular;
    width: 75%;
    border-radius: 14px;
    position: absolute;
    font-size: 12px;
    // background-color: $on-primary;

    .firstRowTitle {
        color: $p-regular;
        width: 215px;
        height: 72px;
        text-align: start;
        padding-left: 16px;
    }

    table {
        color: $bg-card;
    }

    .firstRow {
        color: $p-regular;
        width: 128px;
        height: 72px;
    }

    .columnName {
        color: $p-regular;
        text-align: start;
        padding-left: 16px;
        height: 56px;
        width: 215px;
    }

    .rowScore {
        width: 128px;
        height: 56px;
        text-align: center;
    }
}
